<div class="w-full py-6 px-3">
    <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
        {{ 'product-1' | placeholder_svg_tag: 'h-60 w-full object-cover bg-gray-100' }}

        <div class="p-4 flex flex-col">
            <span class="text-sm text-gray-400">Vendor</span>
            <span class="text-gray-700 font-medium uppercase text-lg">Product Title</span>
            <p class="text-gray-500 text-base"> {{ "9999" | money }} </p>
        </div>
    </div>
</div>